@import url('https://fonts.googleapis.com/css2?family=Indie+Flower&family=Koulen&display=swap');

/** Paramètres basique
======================================*/


/* Predefinition de base sur le texte, font, et couleur de texte*/

html,
body {
    font-family: 'Indie Flower', cursive;
    background-color: #3b3b3b;
    margin: auto;
    height: 100%;
    font-size: 1em;
    color: aliceblue;
}


/* Ajustement du contenu pour le footer */

.blockContainer {
    min-height: 100%;
    position: relative;
}


/* Placer au centre le texte */

header {
    margin: 20px auto;
    max-width: 1000px;
    text-align: center;
    display: block;
    align-content: center;
}


/* Ajustement visuel du contenu principale */

main {
    margin: 20px auto;
    padding-bottom: 50px;
    max-width: 1000px;
}


/* Mettre le footer en bas de la page */

footer {
    position: absolute;
    bottom: 0;
    margin-top: 40px;
    background-color: #585858;
    text-align: end;
    padding: 10px 3% 10px 0;
    width: 97%;
}


/* Le style des titres */

h2,
h1 {
    font-family: 'Koulen', cursive;
}


/** Menu principale
======================================*/


/* Ajustement du menu */

.menu {
    display: flex;
    flex-flow: row wrap;
    justify-content: start;
    list-style: none;
    margin: 0;
    padding: 0;
    font-size: 0.9em;
    font-family: sans-serif;
    background-color: #585858;
    box-shadow: 0 0 10px black;
}


/* Ajustement du texte du menu */

.menu a {
    text-decoration: none;
    display: block;
    padding: 1em;
    color: #999;
    text-transform: uppercase;
    letter-spacing: 2px;
    color: aliceblue;
    padding: 20px;
    letter-spacing: 2px;
    transition-duration: 0.4s;
}


/* Premier bouton active du menu */

.menu > a.active {
    background-color: #40fd47;
    color: #1b1b1b;
}


/* Pousser à gauche le menu pour le comfort */

.menu > a:first-child {
    margin-left: 20px;
}


/* Réaction visuel de menu sur le souris */

.menu a:hover {
    background-color: #40fd47;
    color: #1b1b1b;
    transition-duration: 0.4s;
}


/** Sous-Menu
======================================*/


/* Paramètres de sous menu */

.sousMenu .sousMenu__btn {
    display: block;
    color: aliceblue;
    font-size: inherit;
    background-color: inherit;
    font-family: inherit;
}


/* Réaction quand le souris est sur le bouton de menu */

.sousMenu:hover .sousMenu__btn {
    transition-duration: .4s;
    transition-timing-function: linear;
    background-color: #40fd47;
    color: #1b1b1b;
}


/* Ajustement de sous menu, cacher le sous menu par default */

.sousMenu__contenu {
    display: none;
    position: absolute;
    background-color: aliceblue;
    min-width: 100px;
    box-shadow: 5px 5px 10px black;
    border-radius: 0px 10px 10px 10px;
    z-index: 1;
}


/* Ajustement des elements de sous menu */

.sousMenu__contenu a {
    float: none;
    color: black;
    padding: 12px;
    text-decoration: none;
    text-align: center;
    display: block;
}


/* Réaction quand le souris est sur le bouton de sous menu*/

.sousMenu__contenu a:hover {
    background-color: #40fd47;
    transition-duration: none;
}


/* Mettre les elements du sous menu en blocks*/

.sousMenu:hover .sousMenu__contenu {
    display: block;
}


/** Écran de smartphone pour MENU & Footer
======================================*/

@media screen and (max-width: 720px) {
    /* Réorganiser le site pour les téléphones */
    main {
        width: 100%;
    }
    /* Mettre le contenu du menu en colonne */
    .menu {
        flex-flow: column;
    }
    /* Centraliser le texte du menu*/
    .menu > a {
        text-align: center;
        border-bottom: 1px solid white;
    }
    /* Correction de bug avec le menu*/
    .menu a:first-child {
        margin-left: 0px;
    }
    /* Correction de bug avec main et header*/
    header,
    main {
        margin: 0;
    }
    /** Sous Menu adapté aux téléphones
    Effets visuels + centraliser le texte*/
    .sousMenu .sousMenu__btn {
        text-align: center;
        border-bottom: 1px solid white;
    }
    /* Effet visuel sur le contours et sut le l'écran */
    .sousMenu-content {
        width: 100%;
        border-radius: 0 0 10px 10px;
    }
}


/*
***************************************************************
***************************************************************
***************************************************************
*/


/** Accueil
======================================*/


/* Mettre le texte au milieu */

.info {
    font-family: 'Koulen', cursive;
    text-align: center;
    margin: 0 auto;
    padding: 20px;
}


/* Boite de texte ajustement */

.container {
    margin: 20px;
    font-size: 1.1em;
    padding: 0px 30px;
    text-align: justify;
}


/* Ajustement viseul de sous titre texte*/

.cont__soustitre {
    text-decoration: underline;
    padding-left: 10px;
    font-size: 1.2em;
}


/* Ajustement de l'image profil */

.avatar {
    width: 250px;
    border-radius: 200px;
    text-align: center;
}


/** Validation
======================================*/


/* Ajustement visuel*/

.block {
    margin: 0 30px;
}


/* Ajustement de texte */

.texte__validation {
    font-size: inherit;
    margin: 30px 20px;
    text-align: justify;
}


/* Repartir le contenu */

#main__valid {
    max-width: none;
    width: 100%;
}


/* Creation des blocks responsives avec le contenu*/

.block__items {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 20px;
}


/* Correction visuel des blocks et établissement des limites boites par ligne*/

.block__items > div {
    flex: 1 1 25%;
    border: 1px solid #40fd47;
    border-radius: 20px;
    padding: 20px;
    text-align: center;
    box-shadow: 0px 0px 20px black;
}


/* Definition de taille images par defaut */

.block__items > div > img {
    width: 450px;
    position: relative;
    transform: scale(1);
    transition-duration: 1s;
}


/* Effet visuel de zoom en mettant le souris */

.block__items > div > img:hover {
    transform: scale(2);
    transform-origin: center;
    transition-duration: 1s;
    z-index: 2;
}


/** Contact
======================================*/

.contact__titre {
    font-size: 2em;
}


/* Correction de la boite du texte */

textarea {
    height: 150px;
    width: 100%;
    resize: none;
    background-color: #585858;
    font-size: 1em;
    border-radius: 10px;
    border: 1px solid #40fd47;
    color: aliceblue;
    font-size: 1.4em;
}


/* Ajustement visuel des textearea placeholders*/

textarea::placeholder {
    font-size: 1em;
    color: #999;
}


/* Mettre le contenu à droite et à gauche + visuel */

.contact__form {
    width: 400px;
    min-height: 250px;
    text-align: center;
    padding: 20px;
    margin: 20px auto;
    border: solid 1px #40fd47;
    border-radius: 20px;
    box-shadow: 0px 0px 20px black;
}


/* Ajustement visuel des inputs*/

.contact__form input {
    height: 40px;
    width: 100%;
    margin-bottom: 5px;
    border-radius: 10px;
    background-color: #585858;
    color: aliceblue;
    font-size: 1em;
    border: 1px solid #40fd47;
}


/* Ajustement visuel des  placeholders*/

.contact__form input::placeholder {
    color: #999;
    font-size: inherit;
}


/* Ajustement du contenu dans les blocks */

.contact__form > div {
    align-self: center;
}


/* Changement visuel du bouton "Envoyer" */

.btn {
    text-decoration: none;
    background-color: #585858;
    border: 1px solid #1b1b1b;
    color: aliceblue;
    font-family: 'Courier New', Courier, monospace;
    padding: 10px;
    border-radius: 10px;
    box-shadow: -3px 8px #1b1b1b;
    margin: 10px 0px;
    transition: 0.4s;
}


/* Changement visuel du bouton "Envoyer"  avec le souris*/

.btn:hover {
    background-color: #40fd47;
    color: black;
    transition: 0.4s;
}


/* Changement visuel du bouton selection */

#modeContact {
    height: 40px;
    width: 100%;
    margin-bottom: 5px;
    border-radius: 10px;
    font-size: 1em;
    text-align: center;
    border: 1px solid #40fd47;
    background-color: #585858;
    color: aliceblue;
    text-decoration: none;
}


/** Formation
======================================*/


/* Placer le contenu à droite et à gauche*/

.sect__formation {
    display: grid;
    grid-template-columns: 60% 40%;
    margin: 20px;
}


/* Établir le limite du block pour la classe sousContenu*/

.text__block {
    width: 100%;
    padding: 10px;
}


/* Centraliser et diviser visuellement le contenu */

.form__text {
    display: flex;
    position: relative;
    align-items: center;
    padding-bottom: 5px;
}


/* Effet visuel sur les boîtes */

.form__text::before {
    position: relative;
    height: 70%;
    width: 10px;
    background-color: #40fd47;
    box-shadow: 2px 2px 10px black;
    content: "";
}


/* Décoration de la boite */

.form__text::after {
    position: absolute;
    display: block;
    height: 2px;
    bottom: 0;
    align-self: center;
    width: 100%;
    content: "";
    background-color: #40fd47;
    box-shadow: 2px 2px 10px black;
}


/* Aligner et diviser visuellement la photo */

.form__photo {
    text-align: center;
    position: relative;
    padding: 10px 0px;
}


/* Décoration de la boite */

.form__photo::after {
    position: absolute;
    display: block;
    height: 2px;
    bottom: 0;
    align-self: center;
    width: 100%;
    content: "";
    background-color: #999;
    box-shadow: 2px 2px 10px black;
}


/** Experiences
======================================*/


/* Placer intro à gauche et experience à droite */

.sect__experience {
    display: grid;
    grid-template-columns: 25% 70%;
    gap: 10px;
}


/* Ajustement de texte intro */

.exp__intro {
    padding: 16px;
    font-size: 1em;
    text-align: justify;
}


/* Ajustement de texte liste */

ul {
    margin-top: 0px;
}


/* Mettre le texte en italic */

ul > li {
    font-style: italic;
}


/* Mettre le contenu en ligne du haut vers le bas */

.exp__cont {
    margin: 0;
    display: flex;
    flex-direction: column;
    gap: 10px;
}


/* Division visuel des blocks */

.cont__item {
    position: relative;
    padding: 20px;
}


/* Decoration sur lo block*/

.exp__cont > div::before {
    position: absolute;
    left: 0;
    top: 50px;
    height: 70%;
    width: 10px;
    margin-right: 10px;
    background-color: #40fd47;
    content: "";
    box-shadow: 2px 2px 10px black;
}


/* Décoration de la boite */

.exp__cont > div::after {
    position: absolute;
    display: block;
    height: 2px;
    bottom: 0;
    align-self: center;
    width: 100%;
    content: "";
    background-color: #40fd47;
    box-shadow: 0px 0px 10px black;
}


/* Ajustement du texte h3 */

h3 {
    margin: 0;
    padding: 16px 0 10px 0;
}


/* Regler les espaces entre les lignes */

.titre__poste {
    margin-bottom: 0;
}


/* Placer le contenu à droite et à gauche */

.sousContenu {
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: space-between;
}


/** Écran de smartphone for MENU & Footer
======================================*/

@media screen and (max-width: 720px) {
    /** Formation
    * Mettre les blocks en colonnes
    ======================================*/
    .sect__formation {
        display: block;
    }
    /* Enlever les bordures sur le texte, effet visuel*/
    .form__text::after {
        display: none;
    }
    /** Experiences
    * Mettre les blocks en colonnes
    ======================================*/
    .sect__experience {
        display: block;
    }
    /** Contact
    * Mettre les blocks en colonnes
    ======================================*/
    .contact__form {
        margin-top: 30px;
    }
}
